<blockquote>
	<div class="tm-testi__item-body">
		%%CONTENT%%
	</div>
	<div class="tm-testi__item-meta">
		%%AVATAR%%
		<footer>
			<cite>%%NAME%%</cite> %%EMAIL%% %%POSITION%% %%COMPANY%%
		</footer>
	</div>
</blockquote>